.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.zoes {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.zoe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
  from,
  to {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-20deg) scale(0.9);
  }
  75% {
    transform: rotate(20deg) scale(1.1);
  }
}

.oneZoeToRuleThemAll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  transform: scale(0.75);
}
